root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[**.{json,toml}]
indent_style = space
indent_size = 2

[**.{gyp,js,ts}]
indent_style = space
indent_size = 2

[**.{c,cc,h}]
indent_style = space
indent_size = 4

[**.go]
indent_style = tab
indent_size = 4

[**.{py,pyi}]
indent_style = space
indent_size = 4

[**.rs]
indent_style = space
indent_size = 4

[**.swift]
indent_style = space
indent_size = 4

[queries/**.scm]
indent_style = space
indent_size = 2

[test/**.txt]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 4
